@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Cabin+Sketch:wght@400;700&family=Coiny&family=Creepster&family=Galada&family=Henny+Penny&family=Pattaya&family=Waiting+for+the+Sunrise&display=swap');
/* page 1 */
.overlayp1 {
    background: black;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .60;
}

#welcome_section{
    background-image: url(../image/background/1.jpg);
    padding: 6% 0 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    }


#welcome_section h1{
    margin-bottom: 15%!important;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #fff!important;
    }
.p1{
	font-family: 'Pattaya', sans-serif;
    margin-top: 15%;
}

.example_g {
	font-family: 'Pattaya', sans-serif;
    width: 150px!important;
	text-align: center!important;
	display: inline-block;
    border: none!important;
    outline: none!important;
    color: #fff;
	font-size: 25px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 4px;
    cursor: pointer;
    position: absolute;
    transition: 0.5s ease-in-out;
	padding-top: 10px;
    margin-left: -5%;

}

a {text-decoration: none!important;}

.example_g:before {
    content: '';
    background-color: none!important;
	background: linear-gradient(45deg, #FF0000, #FFF700, #FF7000, #FF00FE, #3FF4EB, #9E00FF, #00BEFF, #FF00DD, #FF0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
	border-radius: 50px;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.example_g:active {
    color: #000
}

.example_g:active:after {
    background: transparent;
}

.example_g:hover {
    transform: scale(1.05);
}

.example_g:hover:before {
    opacity: 1;
}

.example_g:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0000!important;
    left: 0;
    top: 0;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
/*End page 1*/

/* page 2 */
.overlay2 {
    background: black;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .55;
}

#section2{
    background-image: url(../image/background/2.jpg);
    padding: 6% 0 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    }

#section2 .intro{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 30px;
    }
    #section2 h1,
    #section2 p{
    text-shadow: 1px 5px 20px #000;
    }

.pag2{
	width: 70%;
	margin: auto;
	color: #fff!important;
	position: relative;
	margin-top: 5%!important;
	font-variant: petite-caps;
}

.pag2h3{
	margin-top: 10%!important;
	color: #fff!important;
	position: relative;
}

#whisky_quotes {
    padding: 25px;
    transform: skew(10deg);
    letter-spacing: 0.1em;
    background-color: #0000007a;
	max-width: 70%!important;
	margin: auto!important;
	font-size: larger;
  }


.p2{
	color: red;
}

a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: x-large;
    margin: 0;
    padding:0;
    color:#ffffff!important;
	position: relative!important;
    font-family: 'Coiny', cursive;
    justify-items: center!important;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}
/*End page 2*/

/*page 3*/

.container,.align-center,.only-big-screens{
	display: inline-grid;
    justify-items: center;
}

#section3{
    background-image: url(../image/background/3.jpg);
    padding: 6% 0 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    }
    
.row justify-content-center{
	max-width: 70%;
 
}

/*End Page 3*/
/*Page 4*/
.col-lg-12 .my-3{
	fill: #fff!important
}
.overlay4{
	background: black;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .60;
}

#section4{
    background-image: url(../image/background/4.jpg);
    padding: 6% 0 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    }
/*End Page 4*/
/* Custom CSS */
#piechart3,#piechart2,#piechart1{
	max-width: 70%!important;
	width: auto!important;
	height: auto!important;
	margin:5%!important;
	align-items: center!important;
}
.navbar-default ,.navbar-nav > li > a{
    font-family: 'Coiny', cursive!important;
}
body{
	font-family: 'Lato', Calibri, Arial, sans-serif!important;
	color: #f2f2f2;
    max-width: 90%!important;

    
}
h1{
	font-size: 6em;
}
p{
	font-size: 2em;
}
.section{
	text-align: center;
}

.dropdown-menu>li>a,
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #fafafa;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #ffbe7a;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #fafafa;
}
.navbar-default .navbar-nav>li>a {
    color: #f2f2f2;
}
.navbar-nav>li>a:hover{
	background-color: rgba(255, 255, 255, 0.678)!important;
}

#pp-nav li .active span{
	background-color: rgba(255, 255, 255, 0.678)!important;
    border-color:#fff!important;
}

#pp-nav li a span{
    border-color:#fff!important;
}
.navbar-nav>li>a:focus, .navbar-default{
	background-color: rgba(255, 255, 255, 0.678)!important;
}
.navbar-default{
	background-color: rgb(255 255 255 / 8%)!important;
    border-color: rgb(255 255 255 / 0%)!important;
}

.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}
.twitter-share-button{
	position: fixed !important;
	z-index: 99;
	right: 149px;
	top: 9px;
}
/* Style for our header texts*/
h1{
    font-size: 5em;
    font-family: arial,helvetica;
    color: #fff;
    margin:0;
    padding:0;
    }
    
    #infoMenu li a{
    color: #fff;
    }
    #yAxisLabel{
        color: #fff!important;
    }
    .pp-tableCell{
        display: block!importan;
        align-items: center;
    }

/*End Custom CSS*/
/* Overwriting fullPage.js tooltip color */
#pp-nav.custom .pp-tooltip{
	color: #AAA!important;
}
#pp-nav{
    margin: 0px 96% auto!important;
    display: block!important;
    color: #fff!important;
}

.twitter-share-button{
	position: fixed;
	z-index: 99;
	right: 149px;
	top: 9px;
}
#starGithub{
	position: fixed;
	z-index: 99;
	right: 264px;
	top: 9px;
	width: 90px;
}
@media (max-width: 765px){
    #navbar{
        background-color: #0000006e!important
    }
}
@media (min-width: 1024px) {
	.only-small-screens {
	  display: block;
	  align-content: space-around;
	  font-family: "Concert One";
	  overflow: hidden;
      max-width: 7;
      font-family: 'Coiny', cursive!important;
      
	}
ul, #pagepiling {
	  display: inherit!important;
	}

.only-big-screens{
    display: grid!important;
}


  #piechart3,#piechart2,#piechart1{
	margin-left: 5%!important;
}

}

@media only screen and (max-width: 600px) {
	.only-small-screens {
        display: block;
        overflow: hidden;
        max-width: 90%;
        font-family: 'Coiny', cursive!important;
      }
  .only-big-screens,
      ul, #pagepiling {
        display: block;
      }
  
  
    #piechart3,#piechart2,#piechart1{
      margin-left: 5%!important;

    }
   .pp-tableCell{
    display: grid!important;
   }
   .example_g{
    margin: 40% 35% auto;
   }
} 

/*Page 5*/

/* Data Table*/

table{
    border: solid 5px #bebcba;
}


tbody{
    border: solid 3px #bebcba;
}


#Fifth{
    background-image: url(../image/background/WhiskyHeader.webp);
    padding: 6% 0 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.row{
    z-index: 2;
}

.btn-warning{
    background-color: indianred!important;
    color: #fff!important;
    border: none!important;
    outline: none!important;;
    border-inline: none!important;;
}

.btn-warning:hover{
     background-color: #ff0000!important;
     border: none!important;
}
.btn-warning:onclick{
    border: none!important;
    
}
.btn-warning{
    color: #000!important;
    border-inline: none!important;
    border: none!important;
    outline: none!important;
    font-weight: bolder;
}

.btn-warning:hover{
    background-color: #ff0000!important;
}

.dc-table-head{
    text-align: center!important
}

.dc-table-column _2{
    max-width: 50%;
}

input.dc-text-filter-input{
  box-sizing: border-box;
  padding: 10px;
  border-radius:20px;
  border: none!important;
  outline: none!important;
  color:#000;
  margin-bottom: 2%;
}

 .btn-info,#resetBtn{
    background-color: indianred;
    border-inline: none!important;
    border: none!important;
    outline: none!important;
    font-weight: bolder;
    
}

.btn-info:hover{
    background-color: #d316169c;
}

#next{
    color: #000;
    border-inline: none!important;
    border: none!important;
    outline: none!important;
    font-weight: bolder;
}

#next:hover{
    background-color: indianred;
}
#resetBtn:hover{
    background-color: #ff0000!important;
}